@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #556D73, #243840);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #243840b2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0B2126;
    text-align: center;
    text-shadow: 1px 1px 2px #0b21267e;
}

h2 {
    color: #243840;
}

p {
    text-align: justify;

}